html
{
    text-align: center;
    background-color: black;
    color: yellow;
}

body
{
    font-family: Arial;
    margin: auto;
}

a
{
    text-decoration: none;
    font-size: 40px;
     display: block;
     margin: 10% 0%;
     color: purple;
}

titreApplication
{
    font-size: 80px;
    background-color: lightgreen;
}

input
{
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 5%;
}

#valider
{
    margin-left: 50%;
}

textarea
{
    width: 30%;
    margin: auto;
}

ul
{
    text-align: left;
    margin: 0% 35%;
}

li
{
    margin: 2% 0%;
    font-size: 30px;
}

titreSecondaire
{
    font-size: 60px;
    background-color: lightgreen;
}

.formulaire
{
    margin: 5% 0%;
    display: block;
}